body {
  font-family: 'Georgia', serif;
  background-color: #fdfaf6;
  color: #2c2c2c;
  margin: 0;
  padding: 0;
}

header {
  background: linear-gradient(to right, #d4af37, #fdfaf6);
  padding: 2em;
  text-align: center;
}

.subtitulo {
  font-style: italic;
  color: #8a6d3b;
}

section {
  padding: 2em;
  border-top: 1px solid #e0d8c3;
}

blockquote {
  font-style: italic;
  color: #b08d57;
  border-left: 4px solid #d4af37;
  padding-left: 1em;
}

footer {
  background-color: #f3efe7;
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
}

.logo {
  width: 120px;
  margin-bottom: 1em;
}
